.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.col {
    background-color: black;
    color: white;
    font-size: 100px;
    font-weight: bold;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
