.bigCounter {
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: black;
}

.bigCounter div {
    display: inline-block;
    font-size: 50px;
    line-height: 50px;
    background: black;
    color: white;
    padding: 10px;
}

svg {
    padding-bottom: 10px;
}