.bigCounter {
    display: inline-block;
    text-align: center;
}

.bigCounter div {
    display: inline-block;
    font-size: 50px;
    line-height: 50px;
    background: black;
    color: white;
    padding: 10px;
}

